// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin Lte
@import "~admin-lte/dist/css/adminlte.min.css";

// Fontawesome
@import "~@fortawesome/fontawesome-free/css/all";
@import "~@fortawesome/fontawesome-free/css/brands";
@import "~@fortawesome/fontawesome-free/css/fontawesome";
@import "~@fortawesome/fontawesome-free/css/regular";
@import "~@fortawesome/fontawesome-free/css/solid";
@import "~@fortawesome/fontawesome-free/css/svg-with-js";
@import "~@fortawesome/fontawesome-free/css/v4-shims";
tr.active{
  background:#d6d6d6;
}
.add_user_btn{
  display: flex;
    align-items: center;
}
.login_logo{
	display:flex;
	justify-content:center;
}
.main-footer{
  padding-left:50px;
}
.nav.nav-pills.nav-sidebar.flex-column{
	font-size:18px;
}
.isRequired{
	border:1px solid red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.nav-pills .nav-link:not(.active):hover,.nav-pills .nav-link:not(.active):hover .peIcon {
    color: wheat;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.main-sidebar, .main-sidebar::before{
  width: 300px;
}
.sidebar-mini .main-sidebar .nav-link,
.sidebar-mini-md .main-sidebar .nav-link,
.sidebar-mini-xs .main-sidebar .nav-link{
    width: calc(300px - .5rem * 2);
}
.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}
.sidebar .nav-link p{
    font-size: 16px;
}
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper,
body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer,
 body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header{
     margin-left: 300px;
 }
.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}
.header_title{
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.header_filter{
  display: flex;
  flex-direction:column;
}
.filters{
  width: 100%;
}
.btn_search{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}
.fancy_btn{
    transition: .5s;
    border-radius: 6px;
    overflow: hidden;
    img{
        transition: 1s;
    }
}

.fancy_btn:hover{
    opacity: .6;
    img{
        transform: scale(1.1);
    }
}
