.content-wrapper {
  background: #f1f4f6;
  padding-top: 30px;
}

.main-sidebar {
  background: #1282e4;
}

.main-header {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #1282e4;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  line-height: initial;
}

.brand-link {
  border-bottom: 1px solid #52dcbc;
  color: #fff;
  text-align: center;
  padding: 2px 0.5rem !important;
}

.brand-link.open.active {
  background: #5279dc;
  color: #fff;
  text-align: center;
}

.card {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.peIcon {
  text-align: center;
  width: 34px;
  height: 34px;
  line-height: 33px;
  font-size: 22px;
  transition: color 300ms;
  color: white;
}

.nav-sidebar .nav-item > .nav-link {
  display: flex;
  align-items: center;
  transition-delay: 300ms;
}

.nav-pills .nav-link {
  color: white;
  font-weight: bold;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: white;
  background: #57beff;
  font-weight: bold;
  font-weight: bold;
}

.nav-sidebar .nav-treeview {
  transition: padding 300ms;
  padding: 0.5em 0 0 2rem;
  position: relative;
}

.nav-sidebar .nav-treeview::before {
  content: "";
  height: 100%;
  opacity: 1;
  width: 3px;
  background: #57beff;
  position: absolute;
  left: 32px;
  top: 0;
  border-radius: 15px;
}

.nav-sidebar .menu-open > .nav-link {
  font-weight: bold;
}

.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
  position: absolute;
  right: 1rem;
  top: 18px;
}

.table th,
.table td {
  padding: 0.25rem;
  padding-top: 0.25rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  vertical-align: middle;
  border-top: 1px solid #e9ecef;
}

.table-hover tbody tr:hover {
  background-color: #e0f3ff;
}

.btn_transparent {
  background: transparent;
  border: none;
  font-size: 24px;
  margin-right: 5px;
  margin-left: 5px;
  line-height: 0;
}

.title_user {
  color: #1282e4;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header .title_user .peIcon {
  font-size: 30px;
  margin-right: 10px;
}

.logout_btn {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 20px;
  height: 35px;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.logout_btn:hover {
  color: #75d0c0;
  border: 1px solid #fff;
  background: #fff;
  text-decoration: none;
}

.btn.btn-primary.back_btn.active,
.btn.btn-primary {
  color: #75d0c0;
  background: transparent;
  border: 1px solid #75d0c0;
  font-size: 16px;
  line-height: 20px;
  height: 35px;
}

.btn.btn-primary span {
  width: auto;
  height: auto;
  line-height: normal;
  font-size: 18px;
}

.btn.btn-primary i {
  font-size: 12px;
}

.card-header::after {
  display: none;
}

.lognCard {
  margin-bottom: 0;
  height: 100vh;
  width: 100%;
  border: none;
}

.login-card-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}

.circle_bg {
  position: absolute;
  top: 0;
  right: -50vh;
  bottom: 0;
  width: 100vh;
  height: 100vh;
  background-color: #75d0c0;
  z-index: 0;
  border-radius: 50%;
  opacity: 1;
}

.circle_bg_scaled {
  position: absolute;
  top: 0;
  right: -50vh;
  bottom: 0;
  width: 100vh;
  height: 100vh;
  background-color: #75d0c0;
  z-index: 0;
  border-radius: 50%;
  opacity: 0.7;
  transform: scale(1.3);
}

.circle_bg_scaled_2 {
  position: absolute;
  top: 0;
  right: -50vh;
  bottom: 0;
  width: 100vh;
  height: 100vh;
  background-color: #75d0c0;
  z-index: 0;
  border-radius: 50%;
  opacity: 0.5;
  transform: scale(1.6);
}

.auth_tab_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth_tab_block .nav-tabs {
  width: 500px;
  justify-content: space-around;
}

.auth_tab_block .nav-tabs .nav-link {
  width: 50%;
  text-align: center;
  font-weight: bold;
  color: #e2e2e2;
  font-size: 20px;
}

.auth_tab_block .nav-tabs .nav-link.active,
.auth_tab_block .nav-tabs .nav-item.show .nav-link {
  border-color: #6dccc1;
  color: #6dccc1;
}

.form_content {
  position: relative;
  z-index: 1;
  width: 500px;
  padding: 30px 30px 30px 30px;
}

.login_alert {
  width: 500px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff3c3c;
  color: #ff3c3c;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  padding: 8px 20px;
  border-radius: 4px;
}

.login_title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #75d0c0;
  text-align: center;
  margin-bottom: 30px;
}

.btn-block {
  background: #00236D;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  border: none;
  height: 46px;
}

.form-control {
  background: #FFFFFF;
  border: 1px solid #bae8e0;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  height: 35px;
}

.login-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text,
.register-card-body .input-group .form-control:focus ~ .input-group-append .input-group-text,
.form-control:focus {
  border-color: #75d0c0;
}

.input-group-text {
  border-color: #D4E2F5;
}

.input-group {
  margin-bottom: 30px;
}

.form-control:focus {
  box-shadow: none;
}

.input_style {
  min-height: 32px;
  height: auto;
}

.input_style.disabled {
  min-height: 32px;
  height: auto;
  background-color: #F8F8F8;
  margin: 0px;
}

.form_btn {
  display: flex;
  align-items: flex-end;
}

.redText {
  color: red;
}

.pe-7s-menu {
  color: #fff;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: none;
}

.isRequired {
  border-color: red !important;
}

.radio_style_input {
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: 0;
}

.radio_style_label {
  font-size: 18px;
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  cursor: pointer;
  z-index: 1;
}

.radio_style_label::before {
  content: "";
  height: 25px;
  width: 25px;
  border: 1px solid #00236D;
  border-radius: 4px;
  display: block;
  margin-right: 10px;
}

.radio_style_label::after {
  content: "";
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  border: 1px solid #00236D;
  border-radius: 4px;
  display: block;
  margin-right: 10px;
  border-radius: 4px;
  transform: scale(0);
  background: #00236D;
  transition: 0.5s;
}

.radio_style_block {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}

.radio_style_input:checked + .radio_style_label:after {
  transform: scale(0.7);
}

.test_header {
  display: flex;
  justify-content: space-between;
}

.test_pogination_responsive {
  overflow-x: auto;
  width: 100%;
  margin: 30px 0;
  position: relative;
  height: 80px;
}

.test_pogination_responsive::-webkit-scrollbar {
  width: 1px;
}

/* Track */

.test_pogination_responsive::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */

.test_pogination_responsive::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
}

/* Handle on hover */

.test_pogination_responsive::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0);
}

.test_pogination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 100%;
  overflow: visible;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.test_pogination li {
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 0.25rem;
  min-width: 50px;
  width: 50px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-direction: column;
  margin-right: 15px;
  font-size: 20px;
  color: #3f6ad8;
}

.test_pogination li.active {
  background: #3f6ad8;
  color: #fff;
}

.test_pogination li.active p {
  color: #fff;
}

.test_pogination li p {
  margin-bottom: 0;
  line-height: 26px;
  color: #000;
}

.test_pogination li:last-child {
  margin-right: 0;
}

.test_question_block {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #fff;
  width: 100%;
  height: auto;
  padding: 30px;
  font-size: 20px;
  border-radius: 6px;
}

.test_answers_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.test_answers_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 0;
}

.input_radio_block {
  font-size: 20px;
  width: 49.2%;
  margin-top: 30px;
  position: relative;
}

.test_answers_list li {
  position: relative;
  list-style: none;
}

.test_answers_list li:before {
  position: absolute;
  top: 20%;
  left: 15px;
}

.test_answers_list li:hover:before {
  color: #fff;
}

.test_answers_list li:nth-child(1)::before {
  content: "A)";
}

.test_answers_list li:nth-child(2)::before {
  content: "B)";
}

.test_answers_list li:nth-child(3)::before {
  content: "C)";
}

.test_answers_list li:nth-child(4)::before {
  content: "D)";
}

.test_answers_list li:nth-child(5)::before {
  content: "E)";
}

.test_answers_list li:nth-child(6)::before {
  content: "F)";
}

.test_answers_list li:nth-child(7)::before {
  content: "G)";
}

.test_answers_list li:nth-child(8)::before {
  content: "H)";
}

.test_answers_list li:nth-child(9)::before {
  content: "I)";
}

.test_answers_list li:nth-child(10)::before {
  content: "J)";
}

.test_answers_list li:nth-child(11)::before {
  content: "K)";
}

.test_answers_list li:nth-child(12)::before {
  content: "L)";
}

.input_radio_block input {
  position: absolute;
  opacity: 0;
  z-index: 0;
}

.input_radio_block label {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  background: #fff;
  border-radius: 6px;
  height: 100%;
  width: 100%;
  padding: 15px 30px 15px 40px;
  cursor: pointer;
  transition: 0.5s;
  line-height: 20px;
  margin: 0px;
}

.input_radio_block input:checked + label {
  background: #3f6ad8;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.input_radio_block label:hover {
  background: #3f6ad8;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.answers_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.answers_buttons button {
  cursor: pointer;
}

.btn_prev {
  padding: 10px 40px;
  border: 1px solid transparent;
  background: #3f6ad8;
  color: #fff;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.btn_finish span,
.btn_prev span {
  margin-right: 5px;
  display: block;
  font-size: 30px;
  margin-top: 3px;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

.btn_finish,
.btn_next {
  padding: 10px 40px;
  border: 1px solid transparent;
  background: #3f6ad8;
  color: #fff;
  border-radius: 4px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.btn_next span {
  margin-left: 5px;
  display: block;
  font-size: 30px;
  margin-top: 3px;
}

.for_guest {
  position: relative;
}

.base-timer {
  position: absolute;
  top: -20px;
  right: 0px;
  width: 80px;
  height: 80px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.blue {
  color: #3f6ad8;
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.pr-100 {
  padding-right: 100px;
}

.user_info_result {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.result_test.user_info_result li {
  width: calc(100% / 3 - 15px);
}

.user_info_result li {
  width: calc(100% / 4 - 15px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  list-style: none;
  background: #fff;
  padding: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  border-radius: 4px;
}

.user_info_result li:nth-child(4) {
  margin-right: 0px;
}

.user_info_result li:nth-child(8),
.user_info_result li:nth-child(6),
.user_info_result li:nth-child(3),
.user_info_result li:nth-child(1) {
  background: #edf2ff;
  color: #3f6ad8;
}

.result_quelstion_item {
  padding: 15px;
  margin-bottom: 30px;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  list-style: none;
  border-bottom: 2px solid #3f6ad8;
  margin-bottom: 0;
}

.result_test_item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #fff;
}

.result_test_item_variants {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}

.result_test_item_variants li {
  border: 1px solid transparent;
  width: 25%;
  padding: 15px 15px 15px 40px;
  font-size: 16px;
  position: relative;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
}

.result_test_item_variants li:nth-child(4n) {
  border-right-color: transparent;
}

.result_test_item_variants li.mistakeAnswer {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
  font-weight: bold;
}

.result_test_item_variants li.correctAnswer {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  font-weight: bold;
}

.result_test_item_variants li:before {
  position: absolute;
  top: 15px;
  left: 15px;
}

.result_test_item_variants li:nth-child(1)::before {
  content: "A)";
}

.result_test_item_variants li:nth-child(2)::before {
  content: "B)";
}

.result_test_item_variants li:nth-child(3)::before {
  content: "C)";
}

.result_test_item_variants li:nth-child(4)::before {
  content: "D)";
}

.result_test_item_variants li:nth-child(5)::before {
  content: "E)";
}

.result_test_item_variants li:nth-child(6)::before {
  content: "F)";
}

.result_test_item_variants li:nth-child(7)::before {
  content: "G)";
}

.result_test_item_variants li:nth-child(8)::before {
  content: "H)";
}

.result_test_item_variants li:nth-child(9)::before {
  content: "I)";
}

.result_test_item_variants li:nth-child(10)::before {
  content: "J)";
}

.result_test_item_variants li:nth-child(11)::before {
  content: "K)";
}

.result_test_item_variants li:nth-child(12)::before {
  content: "L)";
}

hr {
  width: 100%;
}

.multiselect__input {
  background: #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #202020;
  width: calc(100% - 32px) !important;
  min-height: 35px;
  padding-left: 15px !important;
  border: none;
}

.multiselect {
  min-height: 37px;
  border-radius: 5px;
  border: 1px solid #D4E2F5;
}

.multiselect__content-wrapper {
  position: absolute;
  display: block;
  left: 15px;
  top: 66px;
  background: #fff;
  width: calc(100% - 30px) !important;
  max-height: 240px;
  overflow: auto;
  border: 1px solid #D4E2F5;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 50;
  -webkit-overflow-scrolling: touch;
}

.multiselect__content {
  display: block !important;
  width: 100%;
  margin-bottom: 0px;
}

.multiselect__content li {
  list-style: none;
}

.multiselect__element {
  display: block;
  width: 100%;
}

.multiselect__option {
  display: block;
  padding: 13px;
  min-height: 40px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

.multiselect__option--highlight {
  background: #3f6ad8;
  outline: none;
  color: #fff;
}

.multiselect__single {
  position: relative;
  display: block;
  min-height: 35px;
  line-height: 34px;
  border: none;
  padding-left: 12px !important;
  border-radius: 5px;
  background: #fff;
  padding: 0 0 0 5px;
  width: 100%;
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 0;
  vertical-align: top;
}

.photoFileUploader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item a {
  display: flex;
  align-items: center;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border: none;
  border-bottom: 3px solid;
}

.nav-tabs {
  justify-content: flex-end;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 18px 0px;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: flex;
  width: 34px;
  justify-content: center;
  align-items: center;
  height: 34px;
  font-size: 18px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#fileimagePreview {
  background-image: url(/img/file.png);
  background-size: 55%;
  background-position-x: 40%;
}

#imagePreview {
  background-image: url(/img/user.jpg);
}

#fileimagePreview span {
  position: absolute;
  top: 54px;
  left: 33px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 66px;
}

.sub_title {
  border-bottom: 1px solid #000;
  display: block;
  padding-bottom: 10px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.input_block_d_flex {
  display: flex;
}

.input_block_d_flex .form-group.col-md-6:nth-child(1) {
  padding-left: 0;
}

.input_block_d_flex .form-group.col-md-6:nth-child(2) {
  padding-right: 0;
}

.input_switch {
  --active: #275EFE;
  --active-inner: #fff;
  --focus: 2px rgba(39, 94, 254, .3);
  --border: #BBC1E1;
  --border-hover: #275EFE;
  --background: #fff;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  width: 38px;
  border-radius: 11px;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

.input_switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--ab, var(--border));
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  transform: translateX(var(--x, 0));
}

.input_switch:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: .3s;
  --d-t: .6s;
  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  --ab: var(--active-inner);
  --x: 17px;
}

.input_switch:checked::before {
  transform: translateX(var(--x));
}

.input_radio {
  position: absolute;
  top: 3px;
  right: 0px;
}

.mx-datepicker {
  width: 100% !important;
}

.mx-input {
  background: #FFFFFF !important;
  border: 1px solid #D4E2F5 !important;
}

.mx-icon-calendar,
.mx-icon-clear {
  color: #D4E2F5 !important;
}

.mx-input:disabled,
.mx-input.disabled {
  color: #ccc;
  background-color: #f3f3f3 !important;
  border-color: #ccc;
  cursor: not-allowed;
}

.backBtn {
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #3f6ad8;
  padding: 5px 20px;
  line-height: 20px;
}

.backBtn span {
  margin-right: 5px;
}

